:root{
    --primary-color : #e5e6e8 ;
    --secondary-color : #3d4242;
}
.dark-theme{
    --primary-color : #101112 ;
    --secondary-color : #e5e6e8 ;
    
}
.font-style{
    color: var(--primary-color);
    font-family:monospace;

}
body{
    display:flex;
    flex-direction: column;
    background-color:var(--primary-color);
}
#icon{
    cursor: pointer;
}

.btn{
    border-radius: 20px;
    border: none;
    background-color: var(--secondary-color);    
    height: 40px;
    width: 120px;
    margin:25px;
    cursor: pointer;
    font-family:monospace;
}
.site-header-font{
    color : var(--secondary-color);
    font-family:monospace;
    font-size: 15px;
    font-weight: 900;

}
.site-header{
    margin:0;
    padding: 0;       
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    
.menu-list ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: right;
   
}
.menu-list img{
    width: 45px;
}

.site-header-content{
    margin:10px;
}

.profile-pic{
    border-radius: 50%;
    height:200px;
    width:200px;
    box-shadow:2px 2px 5px var(--secondary-color);
    
}
body{
    margin:0;
}
.wrapper{
    
    max-width: 430px;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: auto;
    margin-top: 10px;
}

.wrapper form{
    margin-top: 30px;
  }
  
.form-container{
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 75vh;
    max-width: 75vw;
    /* background-color: var(--secondary-color);   */
    max-width: 500px;
    padding: 10px;
    
}
/* for screens that are 992 px wide or less than that will have this following property*/
@media screen and (max-width: 400px) {
    .form-container {
      height:100vh;
      font-size: 12px;
    }
  }
.input-box{
    margin: 12px;
}

.text-box-style{
       
  margin: 18px 0;
   border-radius: 10px; 
    border: 5px solid rgba(35, 33, 33, 0.2);
    padding: 2px;
    height: 100%;
  width: 100%;
  padding: 0 15px;
  font-family:monospace;
  font-size: 15px;
  
   }
   
  
